<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sharifjon :: Home</title>
    <link rel="icon" type="image/ico" href="/images/fivicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../static/css/live-resume.css">


</head>

<body>
    <header>
        <button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto"><img src="../static/images/share.svg" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="index.html" class="nav-link active">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link">RESUME</a>
            <a href="{% url 'portfolio' %}" class="nav-link">PORTFOLIO</a>

            <a href="{% url 'contact' %}" class="nav-link">CONTACT</a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="../static/images/hamburger.svg" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
        <aside>
            <div class="profile-img-wrapper">
                <img src="./static/images/me.png" alt="profile">
            </div>
            <h1 class="profile-name">Sharifjon Mo`minov</h1>
            <div class="text-center">
                <span class="badge badge-white badge-pill profile-designation">Python Backend Developer</span>
            </div>
            <nav class="social-links">
                <a href="https://instagram.com/ai_organise?igshid=YmMyMTA2M2Y=" class="social-link"><i class="fas fa-camera-retro"></i></a>
                <a href="https://www.linkedin.com/feed/" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a href="https://t.me/shar1fjon" class="social-link"><i class="fab fa-telegram"></i></a>
                <a href="https://github.com/onlysharifjon/" class="social-link"><i class="fab fa-github"></i></a>
            </nav>
            <div class="widget">
                <h5 class="widget-title">personal information</h5>
                <div class="widget-content">
                    <p>BIRTHDAY : 19 November 2003</p>
                    <p>WEBSITE : www.example.com</p>
                    <p>PHONE : +998 90 512 2180</p>
                    <p>MAIL : pyhtonsharif@icloud.com</p>
                    <p>Location : Tashkent, Uzbekistan</p>
                    <button class="btn btn-download-cv btn-primary rounded-pill"> <img src="../static/images/download.svg" alt="download"
                                                                                       class="btn-img">DOWNLOAD CV </button>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">LANGUAGES</h5>
                        <p>English : fluent</p>
                        <p>Russian : fluent</p>
                        <p>Tadjik : fluent</p>
                        <p>Uzbek: native</p>
                    </div>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">INTERESTS</h5>
                        <p>Video games</p>
                        <p>English Meetings</p>
                        <p>Coding</p>
                        <p>Testing AI platforms</p>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <section class="intro-section">
                <h2 class="section-title">Hello,Mo`minov Sharifjon!</h2>
                <p>Welcome to my web site</p>
                <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a>
            </section>
            <section class="resume-section">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">EDUCATION</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2010 - 2014</span>
                                <h6 class="time-line-item-title">"Abu Rayhon Beruniy"</h6>
                                <p class="time-line-item-subtitle">Shcool</p>
                                <p class="time-line-item-content">I studied from the 1st to the 3rd grade</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2014-2019</span>
                                <h6 class="time-line-item-title">"38-a student of a school specializing in English "</h6>
                                <p class="time-line-item-subtitle">Shool</p>
                                <p class="time-line-item-content">I studied from the 4th to the 9th grade
                                </p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2019 - 2021</span>
                                <h6 class="time-line-item-title">Studied at Academician of the lyceum</h6>
                                <p class="time-line-item-subtitle">Lyceum</p>
                                <p class="time-line-item-content">
                                </p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2021</span>
                                <h6 class="time-line-item-title">Studied at Tashkent University of Information Technologies</h6>
                                <p class="time-line-item-subtitle">UNIVERSITY</p>
                                <p class="time-line-item-content">
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">Experience</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2022</span>
                                <h6 class="time-line-item-title">Backend Developer</h6>
                                <p class="time-line-item-subtitle">Telegram bot</p>
                                <p class="time-line-item-content">ICT Academy</p>
                            </li>
                             <li class="time-line-item">
                                <span class="badge badge-primary">2022 - 2023</span>
                                <h6 class="time-line-item-title">Backend Developer</h6>
                                <p class="time-line-item-subtitle">Web Agency</p>
                                <p class="time-line-item-content">Next Developers Team (intalim)</p>
                            </li>


                        </ul>
                    </div>
                </div>
            </section>
            <section class="services-section">
                <h6 class="section-subtitle">WHAT I DO</h6>
                <h2 class="section-title">SERVICES</h2>
                <div class="row">
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="../static/images/001-target.svg" alt="target">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Backend Developer</h5>
                            <p class="service-description">A bot is a small application that independently performs pre-created tasks without user intervention . A Telegram bot can do everything that a person in a chat could do: answer questions, send links to websites, or create memes.</p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="../static/images/003-idea.svg" alt="bulb">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Creative Blog</h5>
                            <p class="service-description">"Creative Blog" can be used for a blog site that writes articles about creativity and various other topics. This type of site covers creativity and topics related to various fields through articles, pictures, videos, and other tags written by a writer or blog owner. includes
                            </p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="../static/images/002-development.svg" alt="development">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">DevOps</h5>
                            <p class="service-description">DevOps is a methodology for the active interaction of development specialists with information technology service specialists and the mutual integration of their work processes into each other to ensure product quality.
                            </p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="../static/images/004-smartphone.svg" alt="smartphone">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Telegram Bot</h5>
                            <p class="service-description">A bot is a small application that independently performs pre-created tasks without user intervention . A Telegram bot can do everything that a person in a chat could do: answer questions, send links to websites, or create memes.

                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonial-section">
                <div id="testimonialCarousel" class="testimonial-carousel carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="testimonial-content"></p>
                            <img src="./static/images/me.png" alt="profile" class="testimonial-img">
                            <p class="testimonial-name">Sharifjon Mo'minov</p>
                        </div>
                        <div class="carousel-item">
                            <p class="testimonial-content"></p>
                            <img src="./static/images/me.png" alt="profile" class="testimonial-img">
                            <p class="testimonial-name">Sharifjon Mo'minov</p>
                        </div>
                        <div class="carousel-item">
                            <p class="testimonial-content"></p>
                            <img src="./static/images/me.png" alt="profile" class="testimonial-img">
                            <p class="testimonial-name">Sharifjon Mo'minov</p>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                    </ol>
                </div>
            </section>

            <footer></footer>
        </main>
    </div>
    <script src="../static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../static/vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/live-resume.js"></script>
</body>

</html>