<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sharifjon :: Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../static/assets/css/live-resume.css">
</head>

<body>
    <header>
        <button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto"><img src="../static/assets/images/share.svg" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'index' %}" class="nav-link">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link">RESUME</a>
            <a href="portfolio.html" class="nav-link active">PORTFOLIO</a>
<!--            <a href="blog.html" class="nav-link">BLOG</a>-->
            <a href="{% url 'contact' %}" class="nav-link">CONTACT</a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="../static/assets/images/hamburger.svg" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
        <aside>
            <div class="profile-img-wrapper">
                <img src="../static/assets/images/Profile.PNG" alt="profile">
            </div>
            <h1 class="profile-name">Sharifjon Mo`minov</h1>
            <div class="text-center">
                <span class="badge badge-white badge-pill profile-designation">Python Backend Developer</span>
            </div>
            <nav class="social-links">
                <a href="https://instagram.com/ai_organise?igshid=YmMyMTA2M2Y=" class="social-link"><i class="fas fa-camera-retro"></i></a>
                <a href="https://www.linkedin.com/feed/" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a href="https://t.me/shar1fjon" class="social-link"><i class="fab fa-telegram"></i></a>
                <a href="https://github.com/onlysharifjon/" class="social-link"><i class="fab fa-github"></i></a>
            </nav>
            <div class="widget">
                <h5 class="widget-title">personal information</h5>
                <div class="widget-content">
                    <p>BIRTHDAY : 19 November 2003</p>
                    <p>WEBSITE : www.example.com</p>
                    <p>PHONE : +998 90 512 21 80</p>
                    <p>MAIL : pyhtonsharif@icloud.com</p>
                    <p>Location : Tashkent, Uzbekistan</p>
                    <button class="btn btn-download-cv btn-primary rounded-pill"> <img src="../static/assets/images/download.svg" alt="download"
                                                                                       class="btn-img">DOWNLOAD CV </button>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">LANGUAGES</h5>
                        <p>English : fluent</p>
                        <p>Russian : fluent</p>
                        <p>Tadjik : fluent</p>
                        <p>Uzbek: native</p>
                    </div>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">INTERESTS</h5>
                        <p>Video games</p>
                        <p>English Meetings</p>
                        <p>Coding</p>
                        <p>Testing AI platforms</p>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <section class="portfolio-section">
                <h2 class="section-title">PORTFOLIO</h2>
                
                <div class="portfolio-wrapper">
                    <figure class="portfolio-item hover-box">
                        <a href="https://github.com/onlysharifjon/ndt_new.git"><img src="../static/assets/images/img_1.png" alt="project" class="portfolio-item-img"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 01</h5>
                            <p class="portfolio-item-description">Monitoring Bot</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <a href="https://github.com/onlysharifjon/internet_finder.git"> <img src="../static/assets/images/img_2.png" alt="project" class="portfolio-item-img"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 02</h5>
                            <p class="portfolio-item-description">Internet Finder</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <a href="https://github.com/onlysharifjon/my_personalr_control.git"> <img src="../static/assets/images/img_3.png" alt="project" class="portfolio-item-img"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 03</h5>
                            <p class="portfolio-item-description">Personal Control</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <a href="https://github.com/onlysharifjon/onlinequiz.git"> <img src="../static/assets/images/img_4.png" alt="project" class="portfolio-item-img"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 04</h5>
                            <p class="portfolio-item-description">Online Quiz</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <a href="https://github.com/onlysharifjon/O_N_L_Y_bot.git"> <img src="../static/assets/images/img_5.png" alt="project" class="portfolio-item-img"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 05</h5>
                            <p class="portfolio-item-description">Online Shopping</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <a href="https://github.com/onlysharifjon/nacrutka_bot.git"> <img src="../static/assets/images/img_6.png" alt="project" class="portfolio-item-img"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 06</h5>
                            <p class="portfolio-item-description">Wrapping Bot</p>
                        </figcaption>
                    </figure>

                </div>

            </section>

        </main>
    </div>
    <script src="../static/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../static/assets/vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="../static/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/vendors/entry/jq.entry.min.js"></script>
    <script src="../static/assets/js/live-resume.js"></script>
</body>

</html>